exp_data
data/clean/archive/
data/exp_data/
data/raw/archive/
data/raw/stress_10ms.txt
docs/2015_Coartic-master/
docs/ET/
docs/notes/
.Rproj.user
.Rhistory
.DS_Store


models/stress/all_groups/mod_ts_coda_start_full.rds
models/stress/all_groups/mod_ts_next_word_full.rds
models/stress/all_groups/mod_ts_suffix_start_full.rds
models/stress/all_groups/mod_ts_syl1_end_full.rds
models/stress/all_groups/mod_ts_v1_20_full.rds
models/stress/all_groups/mod_ts_v1_start_full.rds
models/stress/all_groups/mod_tw_start_full.rds


